<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="car" class="mcy.spring.ioc.beans.Car"/>
	<bean id="car2" class="mcy.spring.ioc.beans.Car2">
		<!--<constructor-arg type="java.lang.String">
			<value>cc</value>
		</constructor-arg>
		<constructor-arg type="java.lang.String">
			<value>ff</value>
		</constructor-arg>
		<constructor-arg type="int">
			<value>120</value>
		</constructor-arg>-->
		<constructor-arg index="0" value="123"/>
		<constructor-arg index="1" value="123"/>
		<constructor-arg index="2" value="1234"/>
	</bean>

	<bean id="boss" class="mcy.spring.ioc.beans.Boss">
		<property name="list">
			<list>
				<value>123</value>
				<value>asd</value>
			</list>
		</property>

	</bean>
</beans>